# IntellyJ Idea
.idea/

# Spring Tool Suite (Eclipse)
.settings/

# VS Code
.vscode/

# Project default folders
logs/
target/

# Project default files
.classpath
.factorypath
.project

# Java template
*.class

# Package files
*.jar
*.war
*.ear

# Web application files
/web-app/WEB-INF/classes

